<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Admin Login</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Admin Login</h1>

<form action="/admin/login" method="POST">
  <p>ID</p>
  <input type="text" name="id">

  <p>Password</p>
  <input type="password" name="pass">

  <p>
    <button type="submit">Login</button>
  </p>
</form>

<p><a href="/">Homeへ戻る</a></p>

</body>
</html>