<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Contact</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
<a href="/">Home</a>
<a href="/works">Works</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
</nav>

<h1>Contact</h1>

<p>mail@example.com</p>
<p>Instagram</p>

</body>
</html>